<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
            http://www.springframework.org/schema/context  
            http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
	default-lazy-init="true">

	<!-- 用于解析Controller为url -->
	<context:component-scan base-package="com.xian.blog.controller" />

	<!-- 自动注册handler，并提供数据绑定、数字和日期格式化@NumberFormat,@DataTimeFormat,xml\json读写支持 -->
	<mvc:annotation-driven />

	<!-- 静态资源默认servlet配置 1.加入对静态资源处理 2.允许使用“/”做整体映射 <mvc:default-servlet-handler/> -->
	<mvc:resources mapping="/resources/**" location="/resources/" />

	<!-- 可以viewResolver，使用order属性进行排序，但是 InternalResourceViewResolver必须放在最后 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="10000000000" />

	</bean>
</beans>  