<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xian.blog.dao.BlogDao">

	<resultMap type="Blog" id="BlogResult" autoMapping="true">
		<id property="id" column="id" />
<!-- 		<association property="blogType" javaType="BlogType"> -->
<!-- 			<id property="id" column="type_id"/> -->
<!-- 			<result property="name" column="type_name" /> -->
<!-- 		</association> -->
	</resultMap>

	<sql id="sql_select">
		SELECT
		b.id,
		b.title,
		b.type_id,
		b.key_word,
		b.summary,
		b.content,
		b.right_type,
		b.click AS click, 
		b.reply AS reply,
		b.create_time,
		b.modify_time,
		b.`status`,
		b.thumb,
		t.NAME AS type_name,
		t.code AS type_code
		FROM
		t_blog b
		LEFT JOIN t_blog_type t ON
		b.type_id = t.id
	</sql>

	<sql id="sql_where">
		<if test="title != null and title != '' ">
			AND b.title LIKE CONCAT('%', #{title}, '%')
		</if>
		<if test="typeId != null">
			AND b.type_id = #{typeId}
		</if>
		<if test="status != null">
			AND b.`status` = #{status}
		</if>
	</sql>
	
	<select id="list" parameterType="Map" resultMap="BlogResult">
		<include refid="sql_select"></include>
		<where>
			<include refid="sql_where"></include>
		</where>
	</select>
	
	<select id="detail" parameterType="Long" resultMap="BlogResult">
		<include refid="sql_select"></include>
		WHERE b.id = #{id}
	</select>
	
	<select id="getLast" parameterType="Long" resultMap="BlogResult">
		SELECT b.id, b.title FROM t_blog b
		WHERE b.id &lt; #{id} AND b.`status` = 1 ORDER BY id DESC LIMIT 1
	</select>
	
	<select id="getNext" parameterType="Long" resultMap="BlogResult">
		SELECT b.id, b.title FROM t_blog b
		WHERE b.id &gt; #{id} AND b.`status` = 1 ORDER BY id ASC LIMIT 1
	</select>
	
	<select id="listRelate" parameterType="Map" resultMap="BlogResult">
		SELECT b.id, b.title FROM t_blog b
		WHERE b.type_id = #{typeId} AND b.id != #{id} AND b.`status` = #{status}
	</select>
	
	<update id="addClick" parameterType="map">
		UPDATE t_blog SET click = click + #{num} WHERE id = #{id}
	</update>
</mapper> 