<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xian.blog.dao.ColumnResourceDao">

	<sql id="sql_relate_where">
		<if test="columnId != null">
				AND column_id = #{columnId}
		</if>
		<if test="blogTypeName != null and blogTypeName != ''">
				AND t.name LIKE CONCAT('%', #{blogTypeName}, '%')
		</if>
	</sql>
	
	<select id="listRelate" resultType="ColumnResource">
		SELECT r.*, t.name as blogTypeName FROM t_column_resource r 
		LEFT JOIN t_blog_type t ON t.id = r.type_id
		<where>
			<include refid="sql_relate_where"></include>
		</where>
		ORDER BY r.rank, r.create_time
	</select>
	
	<sql id="sql_unrelate_where">
		<if test="blogTypeName != null and blogTypeName != ''">
				AND t.name LIKE CONCAT('%', #{blogTypeName}, '%')
		</if>
		<if test="columnId != null">
			AND NOT EXISTS (SELECT 1 FROM t_column_resource r WHERE r.type_id = t.id AND r.column_id = #{columnId})
		</if>
	</sql>
	
	<select id="listUnRelate" resultType="ColumnResource">
		SELECT t.id AS typeId, t.name AS blogTypeName FROM t_blog_type t
		<where>
			<include refid="sql_unrelate_where"></include>
		</where>
		ORDER BY create_time
	</select>
	
</mapper>