<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xian.blog.dao.ColumnBlogRelateDao">
	<sql id="sql_relate_where">
		<if test="columnId != null">
				AND column_id = #{columnId}
		</if>
		<if test="blogTitle != null and blogTitle != ''">
				AND b.title LIKE CONCAT('%', #{blogTitle}, '%')
		</if>
	</sql>
	
	<select id="listRelate" resultType="ColumnBlogRelate">
		SELECT r.*, b.title as blogTitle FROM t_column_blog_relate r 
		LEFT JOIN t_blog b ON b.id = r.blog_id
		<where>
			<include refid="sql_relate_where"></include>
		</where>
		ORDER BY r.rank, r.create_time
	</select>
	
	<sql id="sql_unrelate_where">
		<if test="blogTitle != null and blogTitle != ''">
				AND b.title LIKE CONCAT('%', #{blogTitle}, '%')
		</if>
		<if test="columnId != null">
			AND NOT EXISTS (SELECT 1 FROM t_column_blog_relate r WHERE r.blog_id = b.id AND r.column_id = #{columnId})
		</if>
	</sql>
	
	<select id="listUnRelate" resultType="ColumnBlogRelate">
		SELECT b.id AS blogId, b.title AS blogTitle FROM t_blog b
		<where>
			<include refid="sql_unrelate_where"></include>
		</where>
		ORDER BY create_time
	</select>
</mapper>