<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xian.blog.dao.ParamTypeDao">

	<resultMap type="ParamType" id="ParamTypeResult">
		<id property="id" column="id" />
	</resultMap>

	<select id="list" parameterType="Map" resultMap="ParamTypeResult">
		SELECT * FROM t_param_type
		<where>
			<if test="name != null and name != '' ">
				AND name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="code != null and code != '' ">
				AND `code` LIKE CONCAT('%', #{code}, '%')
			</if>
		</where>
		ORDER BY name
		<if test="start != null and size != null">
			LIMIT #{start}, #{size}
		</if>

	</select>

	<select id="getTotal" parameterType="Map" resultType="Integer">
		SELECT COUNT(1) FROM t_param_type
		<where>
			<if test="name != null and name != '' ">
				AND name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="code != null and code != '' ">
				AND `code` LIKE CONCAT('%', #{code}, '%')
			</if>
		</where>
	</select>

	<insert id="save" parameterType="ParamType" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_param_type (name, `code`) VALUES(#{name}, #{code})
	</insert>

	<update id="update" parameterType="ParamType">
		UPDATE t_param_type
		<set>
			<if test="name != null and name != '' ">
				name = #{name},
			</if>
			<if test="code != null and code != '' ">
				`code` = #{code},
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="Long">
		DELETE FROM t_param_type WHERE id = #{id}
	</delete>
	
	<select id="getByCode" parameterType="String" resultMap="ParamTypeResult">
		SELECT * FROM t_param_type
		<where>
				AND `code` = #{code}
		</where>
	</select>
</mapper> 